<header class="header">
        <img src="/Public/assets/logo.png" alt="Logo Mùa Hè Xanh" class="logo">
        <h2> Mùa hè xanh UIT 2025</h2>
        <input type="search" placeholder="Tìm kiếm..." class="search-bar">
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Phủ Xanh Mùa Hè<br>Cùng Mùa Hè Xanh</h1>
                <p class="hero-text">Nơi những chiến sĩ áo xanh cùng nhau cống hiến tri thức trẻ,<br>góp phần dựng xây quê hương, đất nước vững mạnh.</p>
                <a href="#" class="cta-button">Tham gia ngay</a>
                <p class="hero-text">Đơn vị đồng hành</p>
                
                <div class="partner-icons">
                    <img src="/Public/assets/partners-logo/partner-1.png" alt="Partner 1">
                    <img src="/Public/assets/partners-logo/partner-2.png" alt="Partner 2">
                    <img src="/Public/assets/partners-logo/partner-3.png" alt="Partner 3">
                </div>
            </div>
            <div class="hero-image">
                <img src="/Public/assets/image.png" alt="Green Summer Activities">
            </div>
        </section>
    </main>
</header>
